"size": 3,
"limit": 10,
"isLastPage": true,
"values": [{
    "id": 88,
    "version": 0,
    "title": "Feature/ULTRA-11163 patch goal alignments to assessment question",
    "state": "OPEN",
    "open": true,
    "closed": false,
    "createdDate": 1456117898790,
    "updatedDate": 1456117898790,
    "fromRef": {
        "id": "refs/heads/feature/ULTRA-11163-patch-goal-alignments-to-assessment-question",
        "displayId": "feature/ULTRA-11163-patch-goal-alignments-to-assessment-question",
        "latestChangeset": "07d4a9749a09d4891b82fcb55bc1883f6b2a17b9",
        "latestCommit": "07d4a9749a09d4891b82fcb55bc1883f6b2a17b9",
        "repository": {
            "slug": "b2-assessment",
            "id": 4856,
            "name": "b2-assessment",
            "scmId": "git",
            "state": "AVAILABLE",
            "statusMessage": "Available",
            "forkable": true,
            "project": {
                "key": "LEARN",
                "id": 185,
                "name": "learn",
                "description": "Projects related to the Learn product line and/or Learn product development",
                "public": false,
                "type": "NORMAL",
                "link": {
                    "url": "/projects/LEARN",
                    "rel": "self"
                },
                "links": {
                    "self": [{
                        "href": "https://stash.bbpd.io/projects/LEARN"
                    }]
                },
                "avatarUrl": "/projects/LEARN/avatar.png?s=64&v=1437381065158"
            },
            "public": false,
            "link": {
                "url": "/projects/LEARN/repos/b2-assessment/browse",
                "rel": "self"
            },
            "cloneUrl": "https://mfu@stash.bbpd.io/scm/learn/b2-assessment.git",
            "links": {
                "clone": [{
                    "href": "https://mfu@stash.bbpd.io/scm/learn/b2-assessment.git",
                    "name": "http"
                }, {
                    "href": "ssh://git@stash.bbpd.io/learn/b2-assessment.git",
                    "name": "ssh"
                }],
                "self": [{
                    "href": "https://stash.bbpd.io/projects/LEARN/repos/b2-assessment/browse"
                }]
            }
        }
    },
    "toRef": {
        "id": "refs/heads/develop",
        "displayId": "develop",
        "latestChangeset": "64855a8fa223006c10ff8801e28534cee8395d19",
        "latestCommit": "64855a8fa223006c10ff8801e28534cee8395d19",
        "repository": {
            "slug": "b2-assessment",
            "id": 4856,
            "name": "b2-assessment",
            "scmId": "git",
            "state": "AVAILABLE",
            "statusMessage": "Available",
            "forkable": true,
            "project": {
                "key": "LEARN",
                "id": 185,
                "name": "learn",
                "description": "Projects related to the Learn product line and/or Learn product development",
                "public": false,
                "type": "NORMAL",
                "link": {
                    "url": "/projects/LEARN",
                    "rel": "self"
                },
                "links": {
                    "self": [{
                        "href": "https://stash.bbpd.io/projects/LEARN"
                    }]
                },
                "avatarUrl": "/projects/LEARN/avatar.png?s=64&v=1437381065158"
            },
            "public": false,
            "link": {
                "url": "/projects/LEARN/repos/b2-assessment/browse",
                "rel": "self"
            },
            "cloneUrl": "https://mfu@stash.bbpd.io/scm/learn/b2-assessment.git",
            "links": {
                "clone": [{
                    "href": "https://mfu@stash.bbpd.io/scm/learn/b2-assessment.git",
                    "name": "http"
                }, {
                    "href": "ssh://git@stash.bbpd.io/learn/b2-assessment.git",
                    "name": "ssh"
                }],
                "self": [{
                    "href": "https://stash.bbpd.io/projects/LEARN/repos/b2-assessment/browse"
                }]
            }
        }
    },
    "locked": false,
    "author": {
        "user": {
            "name": "mfu",
            "emailAddress": "minchao.fu@blackboard.com",
            "id": 6255,
            "displayName": "Minchao Fu",
            "active": true,
            "slug": "mfu",
            "type": "NORMAL",
            "link": {
                "url": "/users/mfu",
                "rel": "self"
            },
            "links": {
                "self": [{
                    "href": "https://stash.bbpd.io/users/mfu"
                }]
            },
            "avatarUrl": "/users/mfu/avatar.png?s=64&v=1447136497000"
        },
        "role": "AUTHOR",
        "approved": false
    },
    "reviewers": [],
    "participants": [],
    "attributes": {
        "resolvedTaskCount": ["0"],
        "openTaskCount": ["0"]
    },
    "link": {
        "url": "/projects/LEARN/repos/b2-assessment/pull-requests/88",
        "rel": "self"
    },
    "links": {
        "self": [{
            "href": "https://stash.bbpd.io/projects/LEARN/repos/b2-assessment/pull-requests/88"
        }]
    }
}, {
    "id": 8,
    "version": 0,
    "title": "ULTRA-11163-patch-goal-alignments",
    "description": "Renaming the parameter",
    "state": "OPEN",
    "open": true,
    "closed": false,
    "createdDate": 1456108362134,
    "updatedDate": 1456108362134,
    "fromRef": {
        "id": "refs/heads/feature/ULTRA-11163-patch-goal-alignments",
        "displayId": "feature/ULTRA-11163-patch-goal-alignments",
        "latestChangeset": "e61cfb1d6659d5738e144ec8fbe866ed7e82a827",
        "latestCommit": "e61cfb1d6659d5738e144ec8fbe866ed7e82a827",
        "repository": {
            "slug": "apis-goal-api",
            "id": 4815,
            "name": "apis-goal-api",
            "scmId": "git",
            "state": "AVAILABLE",
            "statusMessage": "Available",
            "forkable": true,
            "project": {
                "key": "LEARN",
                "id": 185,
                "name": "learn",
                "description": "Projects related to the Learn product line and/or Learn product development",
                "public": false,
                "type": "NORMAL",
                "link": {
                    "url": "/projects/LEARN",
                    "rel": "self"
                },
                "links": {
                    "self": [{
                        "href": "https://stash.bbpd.io/projects/LEARN"
                    }]
                },
                "avatarUrl": "/projects/LEARN/avatar.png?s=64&v=1437381065158"
            },
            "public": false,
            "link": {
                "url": "/projects/LEARN/repos/apis-goal-api/browse",
                "rel": "self"
            },
            "cloneUrl": "https://mfu@stash.bbpd.io/scm/learn/apis-goal-api.git",
            "links": {
                "clone": [{
                    "href": "ssh://git@stash.bbpd.io/learn/apis-goal-api.git",
                    "name": "ssh"
                }, {
                    "href": "https://mfu@stash.bbpd.io/scm/learn/apis-goal-api.git",
                    "name": "http"
                }],
                "self": [{
                    "href": "https://stash.bbpd.io/projects/LEARN/repos/apis-goal-api/browse"
                }]
            }
        }
    },
    "toRef": {
        "id": "refs/heads/develop",
        "displayId": "develop",
        "latestChangeset": "4d3b2c2130281a942b9532fe32d09b2ec3b76456",
        "latestCommit": "4d3b2c2130281a942b9532fe32d09b2ec3b76456",
        "repository": {
            "slug": "apis-goal-api",
            "id": 4815,
            "name": "apis-goal-api",
            "scmId": "git",
            "state": "AVAILABLE",
            "statusMessage": "Available",
            "forkable": true,
            "project": {
                "key": "LEARN",
                "id": 185,
                "name": "learn",
                "description": "Projects related to the Learn product line and/or Learn product development",
                "public": false,
                "type": "NORMAL",
                "link": {
                    "url": "/projects/LEARN",
                    "rel": "self"
                },
                "links": {
                    "self": [{
                        "href": "https://stash.bbpd.io/projects/LEARN"
                    }]
                },
                "avatarUrl": "/projects/LEARN/avatar.png?s=64&v=1437381065158"
            },
            "public": false,
            "link": {
                "url": "/projects/LEARN/repos/apis-goal-api/browse",
                "rel": "self"
            },
            "cloneUrl": "https://mfu@stash.bbpd.io/scm/learn/apis-goal-api.git",
            "links": {
                "clone": [{
                    "href": "ssh://git@stash.bbpd.io/learn/apis-goal-api.git",
                    "name": "ssh"
                }, {
                    "href": "https://mfu@stash.bbpd.io/scm/learn/apis-goal-api.git",
                    "name": "http"
                }],
                "self": [{
                    "href": "https://stash.bbpd.io/projects/LEARN/repos/apis-goal-api/browse"
                }]
            }
        }
    },
    "locked": false,
    "author": {
        "user": {
            "name": "mfu",
            "emailAddress": "minchao.fu@blackboard.com",
            "id": 6255,
            "displayName": "Minchao Fu",
            "active": true,
            "slug": "mfu",
            "type": "NORMAL",
            "link": {
                "url": "/users/mfu",
                "rel": "self"
            },
            "links": {
                "self": [{
                    "href": "https://stash.bbpd.io/users/mfu"
                }]
            },
            "avatarUrl": "/users/mfu/avatar.png?s=64&v=1447136497000"
        },
        "role": "AUTHOR",
        "approved": false
    },
    "reviewers": [{
        "user": {
            "name": "jima",
            "emailAddress": "jianguo.ma@blackboard.com",
            "id": 6354,
            "displayName": "Jianguo Ma",
            "active": true,
            "slug": "jima",
            "type": "NORMAL",
            "link": {
                "url": "/users/jima",
                "rel": "self"
            },
            "links": {
                "self": [{
                    "href": "https://stash.bbpd.io/users/jima"
                }]
            },
            "avatarUrl": "https://secure.gravatar.com/avatar/0bfb0100e67c62eda7eaf3763b760d05.jpg?s=64&d=mm"
        },
        "role": "REVIEWER",
        "approved": false
    }],
    "participants": [],
    "attributes": {
        "resolvedTaskCount": ["0"],
        "openTaskCount": ["0"]
    },
    "link": {
        "url": "/projects/LEARN/repos/apis-goal-api/pull-requests/8",
        "rel": "self"
    },
    "links": {
        "self": [{
            "href": "https://stash.bbpd.io/projects/LEARN/repos/apis-goal-api/pull-requests/8"
        }]
    }
}, {
    "id": 14,
    "version": 0,
    "title": "ULTRA-11163-patch-goal-alignments",
    "description": "Renaming the parameter",
    "state": "OPEN",
    "open": true,
    "closed": false,
    "createdDate": 1456108338039,
    "updatedDate": 1456108338039,
    "fromRef": {
        "id": "refs/heads/feature/ULTRA-11163-patch-goal-alignments",
        "displayId": "feature/ULTRA-11163-patch-goal-alignments",
        "latestChangeset": "d05ceefeed509d12101de4c43e97ed6d0c2d51a3",
        "latestCommit": "d05ceefeed509d12101de4c43e97ed6d0c2d51a3",
        "repository": {
            "slug": "b2-goal",
            "id": 4912,
            "name": "b2-goal",
            "scmId": "git",
            "state": "AVAILABLE",
            "statusMessage": "Available",
            "forkable": true,
            "project": {
                "key": "LEARN",
                "id": 185,
                "name": "learn",
                "description": "Projects related to the Learn product line and/or Learn product development",
                "public": false,
                "type": "NORMAL",
                "link": {
                    "url": "/projects/LEARN",
                    "rel": "self"
                },
                "links": {
                    "self": [{
                        "href": "https://stash.bbpd.io/projects/LEARN"
                    }]
                },
                "avatarUrl": "/projects/LEARN/avatar.png?s=64&v=1437381065158"
            },
            "public": false,
            "link": {
                "url": "/projects/LEARN/repos/b2-goal/browse",
                "rel": "self"
            },
            "cloneUrl": "https://mfu@stash.bbpd.io/scm/learn/b2-goal.git",
            "links": {
                "clone": [{
                    "href": "https://mfu@stash.bbpd.io/scm/learn/b2-goal.git",
                    "name": "http"
                }, {
                    "href": "ssh://git@stash.bbpd.io/learn/b2-goal.git",
                    "name": "ssh"
                }],
                "self": [{
                    "href": "https://stash.bbpd.io/projects/LEARN/repos/b2-goal/browse"
                }]
            }
        }
    },
    "toRef": {
        "id": "refs/heads/develop",
        "displayId": "develop",
        "latestChangeset": "210ff66855824b80413286b660314a78669b918b",
        "latestCommit": "210ff66855824b80413286b660314a78669b918b",
        "repository": {
            "slug": "b2-goal",
            "id": 4912,
            "name": "b2-goal",
            "scmId": "git",
            "state": "AVAILABLE",
            "statusMessage": "Available",
            "forkable": true,
            "project": {
                "key": "LEARN",
                "id": 185,
                "name": "learn",
                "description": "Projects related to the Learn product line and/or Learn product development",
                "public": false,
                "type": "NORMAL",
                "link": {
                    "url": "/projects/LEARN",
                    "rel": "self"
                },
                "links": {
                    "self": [{
                        "href": "https://stash.bbpd.io/projects/LEARN"
                    }]
                },
                "avatarUrl": "/projects/LEARN/avatar.png?s=64&v=1437381065158"
            },
            "public": false,
            "link": {
                "url": "/projects/LEARN/repos/b2-goal/browse",
                "rel": "self"
            },
            "cloneUrl": "https://mfu@stash.bbpd.io/scm/learn/b2-goal.git",
            "links": {
                "clone": [{
                    "href": "https://mfu@stash.bbpd.io/scm/learn/b2-goal.git",
                    "name": "http"
                }, {
                    "href": "ssh://git@stash.bbpd.io/learn/b2-goal.git",
                    "name": "ssh"
                }],
                "self": [{
                    "href": "https://stash.bbpd.io/projects/LEARN/repos/b2-goal/browse"
                }]
            }
        }
    },
    "locked": false,
    "author": {
        "user": {
            "name": "mfu",
            "emailAddress": "minchao.fu@blackboard.com",
            "id": 6255,
            "displayName": "Minchao Fu",
            "active": true,
            "slug": "mfu",
            "type": "NORMAL",
            "link": {
                "url": "/users/mfu",
                "rel": "self"
            },
            "links": {
                "self": [{
                    "href": "https://stash.bbpd.io/users/mfu"
                }]
            },
            "avatarUrl": "/users/mfu/avatar.png?s=64&v=1447136497000"
        },
        "role": "AUTHOR",
        "approved": false
    },
    "reviewers": [{
        "user": {
            "name": "jima",
            "emailAddress": "jianguo.ma@blackboard.com",
            "id": 6354,
            "displayName": "Jianguo Ma",
            "active": true,
            "slug": "jima",
            "type": "NORMAL",
            "link": {
                "url": "/users/jima",
                "rel": "self"
            },
            "links": {
                "self": [{
                    "href": "https://stash.bbpd.io/users/jima"
                }]
            },
            "avatarUrl": "https://secure.gravatar.com/avatar/0bfb0100e67c62eda7eaf3763b760d05.jpg?s=64&d=mm"
        },
        "role": "REVIEWER",
        "approved": false
    }],
    "participants": [],
    "attributes": {
        "resolvedTaskCount": ["0"],
        "openTaskCount": ["0"]
    },
    "link": {
        "url": "/projects/LEARN/repos/b2-goal/pull-requests/14",
        "rel": "self"
    },
    "links": {
        "self": [{
            "href": "https://stash.bbpd.io/projects/LEARN/repos/b2-goal/pull-requests/14"
        }]
    }
}],
"start": 0
